#Singularity files
containers/*.simg
containers/recipes/*

#Nextflow files
.nextflow/*
.nextflow*
work/*
nextflow.config.local

#Index files
containers/data/references/*.fai
containers/data/references/*.dict
