manifest {
    /* Homepage of project */
    homePage = 'https://github.com/lakinsm/bear-wgs'

    /* Description of project */
    description = 'Whole genome sequencing pipeline for USDA ARS BEAR Research Unit.'

    /* Main pipeline script */
    mainScript = 'bear-wgs.nf'

    /* Default repository branch */
    defaultBranch = 'master'
}

env {
    /* Location of trimmomatic jar file */
    TRIMMOMATIC = '/opt/Trimmomatic-0.36'
}

singularity {
    /* Enables Singularity container execution by default */
    enabled = true

    /* Enable auto-mounting of host paths (requires user bind control feature enabled */
    autoMounts = true
}

params {
    /* Location of forward and reverse read pairs */
    reads = "data/raw/*_R{1,2}_001.fastq.gz"

    /* Location of adapter sequences */
    adapters = "data/adapters/nextera.fa"

    /* Location of tab delimited adapter sequences */
    fqc_adapters = "data/adapters/nextera.tab"

    /* Output directory */
    output = "./test"

    /* Number of threads */
    threads = 2

    /* Trimmomatic trimming parameters */
    leading = 3
    trailing = 3
    slidingwindow = "4:15"
    minlen = 36
    
    /* Phaster query option */
    phage = false

    /* Display help message */
    help = false
}

process {
    $FastQC {
        maxForks = 8
        container = 'containers/recipes/bear-wgs.simg'
    }
    
    $QualityControl {
        maxForks = 8
        container = 'containers/recipes/bear-wgs.simg'
    }
    
    $BuildReferenceIndex {
        maxForks = 1
        container = 'containers/recipes/bear-wgs.simg'
    }
    
    $AlignReadsToGenome {
        maxForks = 4
        container = 'containers/recipes/bear-wgs.simg'
    }
    
    $AssembleReads {
        maxForks = 4
        container = 'containers/recipes/bear-wgs.simg'
    }
    
    $FindAribaMarkers {
        maxForks = 4
        container = 'containers/recipes/bear-wgs.simg'
    }
    
    $SummarizeAribaReports {
        maxForks = 1
        container = 'containers/recipes/bear-wgs.simg'
    }
    
    $SeparatePlasmidContigs {
        maxForks = 8
        container = 'containers/recipes/bear-wgs.simg'
    }
    
    $FindPhages {
        maxForks = 1
        container = 'containers/recipes/bear-wgs.simg'
    }
}

